<md-dialog aria-label="How It works"  flex="50" >

  <md-toolbar>
    <div class="md-toolbar-tools" >
      <h2 style="color:#fff">Check it Out How It works</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel('not applicable')">x
        <md-icon  aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
 
   <carousel id="myCarousel" disable-animation="true" interval="5000">
      <slide >
        <img ng-src="modules/core/img/help/1.PNG" style="margin:auto;">
        <div class="carousel-caption">
          <h4 style="color:#fff">Add song sugestions to your band´s evaluation <br>after the rating process the songs will be added to the Repertoire</br></h4>
        </div>
      </slide>
	  <slide>
        <img ng-src="/modules/core/img/help/2.PNG" style="margin:auto;">
        <div class="carousel-caption">
          <h4 style="color:#fff">Type the song and artist name to search Musixmatch catalog (be patience its running on a Machine w/ 512MB RAM)</h4>
        </div>
      </slide>
	  <slide>
        <img ng-src="/modules/core/img/help/3.PNG" style="margin:auto;">
        <div class="carousel-caption">
          <h4 style="color:#fff">The song have Unrated status until all band rate it, or if someone say Don´t Wanna Play it will automatically to Backlog</h4>
        </div>
      </slide>
	  <slide>
        <img ng-src="/modules/core/img/help/4.PNG" style="margin:auto;">
        <div class="carousel-caption">
          <h4 style="color:#fff">The song list can be filtered and organized</h4>
        </div>
      </slide>
	  <slide>
        <img ng-src="/modules/core/img/help/5.PNG" style="margin:auto;">
        <div class="carousel-caption">
          <h4 style="color:#fff">Selecting a song you can view and edit the auto populated fields</h4>
        </div>
      </slide>
	  <slide>
        <img ng-src="/modules/core/img/help/6.PNG" style="margin:auto;">
        <div class="carousel-caption">
          <h4 style="color:#fff">Lyrics are automatic loaded </h4>
        </div>
      </slide>
	  <slide>
        <img ng-src="/modules/core/img/help/7.PNG" style="margin:auto;">
        <div class="carousel-caption">
          <h4 style="color:#fff">Organize songs in Setlists</h4>
        </div>
      </slide>
	  <slide>
        <img ng-src="/modules/core/img/help/8.PNG" style="margin:auto;">
        <div class="carousel-caption">
          <h4 style="color:#fff">You can have as many as needed </h4>
        </div>
      </slide>
	  <slide>
        <img ng-src="/modules/core/img/help/9.PNG" style="margin:auto;">
        <div class="carousel-caption">
          <h4 style="color:#fff">The songs can be organized in any order with Drag and Drop</h4>
        </div>
      </slide>
	  <slide>
        <img ng-src="/modules/core/img/help/10.PNG" style="margin:auto;">
        <div class="carousel-caption">
          <h4 style="color:#fff">Play mode will show the songs in order</h4>
        </div>
      </slide>
	 </carousel>

   
 </md-dialog-content>
  
  
  
  <div class="md-actions" layout="row">
   
     <md-button ng-click="modalShow(false)" class="md-primary">
        Don´t show again
    </md-button>
    <md-button ng-click="cancel('useful')" class="md-primary">
      Close
    </md-button>
  </div>
  
</md-dialog>

