<md-dialog aria-label="song"  flex="100" >

  <md-toolbar>
    <div class="md-toolbar-tools" >
      <h1 style="color:#fff">{{song.name}}&nbsp;</h1>
        <a href="https://www.youtube.com/embed/{{song.youtube_id}}?html5=1" style="text-decoration: none; color: #ccc;" target="_blank" ng-show="song.youtube_id != '' ">
          <i class="mdi mdi-youtube-play"></i>
        </a>		
        <a href="https://play.spotify.com/track/{{song.spotify_id}}" target="_blank" style="text-decoration: none; color: #ccc;" ng-show="song.spotify_id != ''">
          <i class="mdi mdi-spotify"></i>
        </a>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel('not applicable')">
        <i class="mdi mdi-close-box-outline"></i>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
 
  <form data-ng-submit="update()" novalidate>  
	  <md-content>
	    <md-tabs md-dynamic-height md-border-bottom >
	      <md-tab label="Properties">
	        <md-content class="md-padding">  
                  <div layout layout-sm="column">
                    <md-input-container flex>
                      <label>Song Name</label>
                      <input ng-model="song.name">
                    </md-input-container>
                    <md-input-container flex>
                      <label>Artist Name</label>
                      <input ng-model="song.artist">
                    </md-input-container>
                    <md-input-container flex>
                      <label>Song Status</label>
                      <input ng-model="song.song_status">
                    </md-input-container>
                  </div>
            
                  <div layout layout-sm="column">
                    <md-input-container flex>
                      <label>Key</label>
                      <input ng-model="song.key">
                    </md-input-container>
                    <md-input-container flex>
                      <label>Tempo (bets per minute)</label>
                      <input ng-model="song.bpm">
                    </md-input-container>
                    <md-input-container flex>
                      <label>Duration (in seconds)</label>
                      <input ng-model="song.length">
                    </md-input-container>
                  </div>
                        
                  <div layout layout-sm="column">
                    <md-input-container flex>
                      <label>Musixmatch ID</label>
                      <input ng-model="song.musixmatch_id">
                    </md-input-container>
                    <md-input-container flex>
                      <label>Spotify ID</label>
                      <input ng-model="song.spotify_id">
                    </md-input-container>
                    <md-input-container flex>
                      <label>Youtube ID</label>
                      <input ng-model="song.youtube_id">
                    </md-input-container>
                  </div>
                  <div layout layout-sm="column">
                    <md-input-container flex>
                      <label>Song Styles</label>
                      <input ng-model="song.style">
                    </md-input-container>
                  </div>
	        </md-content>
	      </md-tab><!--properties tab-->
		<md-tab label="Lyrics">
	        <md-input-container flex>
              <label>Song Lyrics</label>
              <textarea ng-model="song.lyrics" columns="1"></textarea>
            </md-input-container>
	      </md-tab>
	      <md-tab label="Tablature">
             <md-input-container flex>
              <label>Song Tablature</label>
              <textarea ng-model="song.tablature" columns="1"></textarea>
            </md-input-container>
	      </md-tab>
	      <md-tab label="Notes">
	        <md-content class="md-padding">
				This is just some content to illustrate fancy headings.
	        </md-content>
	      </md-tab>
	    </md-tabs>
	  </md-content>
	 </form>

   
 </md-dialog-content>
  
  
  
  <div class="md-actions" layout="row">
    <md-button ng-click="save()" class="md-primary">Save</md-button>
    <md-button ng-click="cancel(false)" class="md-primary">Close</md-button>
  </div>
  
</md-dialog>

