<section data-ng-controller="SetlistsController" data-ng-init="findOne()" class="container" >
<section ng-hide="viewModePlay">
	
	<div class="jumbotron-m" >
    <table >		
          <tr>
             <td>     
             </td>
             <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
             <td>
				<h3 style="margin-top:0px; margin-bottom:5px;">
					<span class="Jumbotron-m-Header" data-ng-bind="setlist.name"></span>
					<a href="https://play.spotify.com/playlist/{{setlist.spotifyPlaylistId}}" target="_blank" ng-show="setlist.spotifyPlaylistId != undefined">
						<img style="width:15px;height:15px" src="modules/core/img/spotify.png"/>
					</a>
					<!--span hide-sm class="badge" data-ng-hide="setlist.songs.length==0" >{{setlist.songs.length}}</span-->
				</h3>
                <h6 style="line-height: 0.5; color:#fff">Songs: {{setlist.songs.length}} / {{formatDuration(setlist.duration)}} </h6>
				<md-switch ng-model="viewModePlay" ng-change="tonglePlayMode(true)" aria-label="Switch 1">Play mode</md-switch>
            </td>
       </tr>
    </table> <!--row-->
  </div>  
    
  
<!--end of header-->
<div   class="container fluid"  id="sortable-container">
	<div  class="sortable-row" as-sortable="dragControlListeners"  data-ng-model="setlist.songs">
	<div layout="row" data-ng-repeat="songs in setlist.songs | orderBy:'order'" as-sortable-item class="as-sortable-item"  style="padding-top: 5px; padding-bottom: 5px;">
		
			<div   as-sortable-item-handle class="as-sortable-item-handle"  flex="5">
              <i class="glyphicon glyphicon-menu-hamburger"></i>
            </div>
			<div flex ="40" flex-sm="85" ng-click="showSongDialog(songs.song._id)" data-ng-controller="SongsController">{{songs.song.name}}</div>
			<div flex ="20"  hide-sm>{{songs.song.artist}}</div>
			<div flex ="10" >{{songs.song.key}}</div>
			<div flex ="15" hide-sm>{{songs.song.song_status}}</div>
			<div flex ="5" hide-sm>{{songs.song.duration}}</div>
			<div flex ="5">  <i ng-click="removeSong($index)"  class="mdi mdi-delete"></i></div>
		</div>
	</div>
</div>
	
	<nav mfb-menu position="br" effect="zoomin" label="Options" active-icon="glyphicon glyphicon-remove-sign" resting-icon="glyphicon glyphicon-pencil" toggling-method="hover">
		<button mfb-button data-ng-repeat="button in buttons" ng-click="$parent.$eval(button.event)" icon="{{button.icon}}" label="{{button.label}}"></button>
	</nav>  
		<!--iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3A12157462595%3Aplaylist%3A6V7QQDQaPWz8fkIMlNbuM3" width="300" height="380" frameborder="0" allowtransparency="true"></iframe-->

</section>


<section ng-hide="!viewModePlay"> 
	
<div class="jumbotron-m">
    <table >
          <tr>
             <td>    
             </td>
             <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
             <td>
  					<h3 style="margin-top:0px; margin-bottom:5px;"><span data-ng-bind="setlist.name"></span> - 
						<span>{{setlist.songs[currentPage-1].song.name}}</span>
					</h3>
					<h6 style="line-height: 0.5; color:#fff">Songs: {{setlist.songs.length}} / {{formatDuration(setlist.duration)}} </h6>
  					<md-switch ng-model="viewModePlay" ng-change="tonglePlayMode(false)" aria-label="Switch 1">Play mode</md-switch>
            </td>
       </tr>
	   <tr>
		  
    </table> <!--row-->
	<!--list pager-->

<pager total-items="setlist.songs.length" data-ng-hide="!setlist.songs.length" ng-model="currentPage" items-per-page="itemsPerPage"></pager>		


  </div> 

 
	<div class="row" data-ng-repeat="songs in setlist.songs.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | orderBy:'order'"  >
		
<!--end of header-->


		<md-content >
	    <md-tabs  md-dynamic-height md-border-bottom  >
	    
		
		  <md-tab label="Lyrics">
	        <md-content class="md-padding">
				<div  ng-bind-html="songs.song.lyrics"></div>
	        </md-content>
	      </md-tab>
	      <md-tab label="Tablature">
  <md-input-container flex>
              <label>Song Tablature</label>
              <textarea ng-model="songs.song.tablature" columns="1" disabled></textarea>
            </md-input-container>
	      </md-tab>
	      <md-tab label="Notes">
	        <md-content class="md-padding">
				This is just some content to illustrate fancy headings.
	        </md-content>
	      </md-tab>
	    </md-tabs>
	  </md-content>

		
	</div>


	
<!--list pager-->
<pager total-items="setlist.songs.length" data-ng-hide="!setlist.songs.length" ng-model="currentPage" items-per-page="itemsPerPage"></pager>

</section>
</section>