<section data-ng-controller="SongsController" data-ng-init="findOne()" class="container">
	<div class="jumbotron-m" >
    <table >
          <tr>
             <td>
              <img class="img-thumbnail"  ng-src="{{song.song_image}}"  />
             </td>
             <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
             <td>
  					   <h3 style="margin-top:0px; margin-bottom:5px;color:#fff"><span data-ng-bind="song.name"></span>
      					<a href="https://www.youtube.com/embed/{{song.youtube_id}}?html5=1" style="text-decoration: none; color: #ccc;" target="_blank" ng-show="song.youtube_id != '' ">
      					   <i class="mdi mdi-youtube-play"></i>
      					</a>		
      					<a href="https://play.spotify.com/track/{{song.spotify_id}}" target="_blank" style="text-decoration: none; color: #ccc;" ng-show="song.spotify_id != ''">
      						<i class="mdi mdi-spotify"></i>
      					</a>


  						  <!--span class="label" style="font-size:10px; vertical-align:middle" ng-class="{'label-warning': {{song.external_rating}} <30, 'label-info': {{song.external_rating}}>=30 && {{song.external_rating}}<70, 'label-success': {{song.external_rating}}>=70}">{{song.external_rating}}</span-->
  					   </h3>
  					   <span data-ng-bind="song.artist"></span><br/>
      					<small><span data-ng-bind="song.song_status"></span></small><br/>					
            </td>
            <td>
          
             </td>
       </tr>
    </table> <!--row-->


        <!--div style = "position: fixed; top: 40px; right:0">
              <iframe src="https://embed.spotify.com/?uri=spotify:track:4th1RQAelzqgY7wL53UGQt" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
              </div-->

  </div>  
	<!--end of header-->




<!--iframe src="https://embed.spotify.com/?uri=spotify%3Atrack%3A1UqhkbzB1kuFwt2iy4h29Q" width="300" height="380" frameborder="0" allowtransparency="true"></iframe-->
	
	  <md-content >
	    <md-tabs  md-dynamic-height md-border-bottom  >
	      <md-tab label="Properties">
	        <md-content class="md-padding">

            <form name="userForm">
              <div layout layout-sm="column">
                <md-input-container flex>
                  <label>Key</label>
                  <input ng-model="song.key" disabled>
                </md-input-container>
                <md-input-container flex>
                  <label>Tempo (bets per minute)</label>
                  <input ng-model="song.bpm" disabled>
                </md-input-container>
                <md-input-container flex>
                  <label>Duration (in seconds)</label>
                  <input ng-model="song.length" disabled>
                </md-input-container>
              </div>
             
              <div layout layout-sm="column">
                <md-input-container flex>
                  <label>Style</label>
                  <input ng-model="song.style" disabled>
                </md-input-container>
                <md-input-container flex>
                  <label>External rating</label>
                  <input ng-model="song.external_rating" disabled>
                </md-input-container>
                <md-input-container flex>
                </md-input-container>
              </div>
                  
            </form>

	        </md-content>
	      </md-tab>
		  <md-tab label="Lyrics">
	        <md-content class="md-padding">
				<div  ng-bind-html="song.lyrics"></div>
	        </md-content>
	      </md-tab>
	      <md-tab label="Tablature">
  <md-input-container flex>
              <label>Song Tablature</label>
              <textarea ng-model="song.tablature" columns="1" disabled></textarea>
            </md-input-container>
	      </md-tab>
	      <md-tab label="Notes">
	        <md-content class="md-padding">
				This is just some content to illustrate fancy headings.
	        </md-content>
	      </md-tab>
	    </md-tabs>
	  </md-content>
	

	<nav mfb-menu position="br" effect="zoomin" label="option" active-icon="glyphicon glyphicon-remove-sign" resting-icon="glyphicon glyphicon-pencil" toggling-method="hover">
		  <button mfb-button ng-click="remove()" icon="glyphicon glyphicon-trash" label="remove"></button>
      <button mfb-button ng-click="$edit()"  icon="glyphicon glyphicon-pencil" label="edit"></button>
      <button mfb-button ng-click="$back()" icon="glyphicon glyphicon-arrow-left" label="back"></button>

	</nav>
    
	       
  <!--FABMenu-->
  <!--div class="lock-size" layout="row" layout-align="center center" style="right: 0;bottom: 0;position: fixed;">
    <md-fab-speed-dial md-open="FSisOpen" md-direction="up"  ng-class="md-scale">
      <md-fab-trigger>
        <md-button aria-label="menu" class="md-fab md-warn">
          <span class="glyphicon glyphicon-menu-hamburger"></span>
        </md-button>
      </md-fab-trigger>
      <md-fab-actions>
        <md-button aria-label="twitter" class="md-fab md-raised md-mini"  ng-click="$edit()">
          <span class="glyphicon glyphicon-pencil"></span>
        </md-button>
        <md-button aria-label="facebook" class="md-fab md-raised md-mini" ng-click="$back()">
          <span class="glyphicon glyphicon-arrow-left"></span>
        </md-button>
        <md-button aria-label="Google hangout" class="md-fab md-raised md-mini" ng-click="remove()">
          <span class="glyphicon glyphicon-trash"></span>
        </md-button>
      </md-fab-actions>
    </md-fab-speed-dial>
  </div-->
	 
</section>
